IO_LOC "tmds_p[2]" 75,74;
IO_LOC "tmds_p[1]" 73,72;
IO_LOC "tmds_p[0]" 71,70;
IO_LOC "tmds_clock_p" 69,68;
IO_PORT "tmds_p[2]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_p[1]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_p[0]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_clock_p" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;

IO_LOC "resetn" 4;
IO_PORT "resetn" PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "a2_dma" 86;
IO_PORT "a2_dma" PULL_MODE=UP OPEN_DRAIN=ON;
